

<div class="container-fluid vh-100">
    <div class="w-100 h-100 p-5">
        <p class="font-monospace">PANEL</p>
        <p class="fs-1 fw-semibold">Bienvenido</p>
        <p class="font-monospace">Gestiona el catálogo de libros, los usuarios y los préstamos desde un único lugar.</p>

        <div class="row">
            <div class="col mt-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Usuarios Registrados</h5>
                        <p class="card-text">{{usuarios.length}}</p>
                    </div>
                </div>
            </div>

            <div class="col mt-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Libros Almacenados</h5>
                        <p class="card-text">{{libros.length}}</p>
                    </div>
                </div>
            </div>

            <div class="col mt-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Préstamos activos</h5>
                        <p class="card-text">{{prestamos.length}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 