<div class="container-fluid vh-100">
  <div class="row h-100">
    <div class="col-lg-6 d-none d-lg-block p-0">
      <img src="fondo-login.webp" class="mw-100 h-100 object-fit-cover" alt="imagen de biblioteca">
      
    </div>

    <div class="col-lg-6 col-12 col-md-12 d-flex justify-content-center align-items-center p-0">
      <div class="w-50">
        <p class="fw-bold"> <button class="btn btn-success"><i class="bi bi-book"></i></button>  Biblioteca Pública</p>
        <p class="font-monospace">Acceso bibliotecario</p>
        <p class="fs-1 fw-bold lead">Iniciar sesión</p>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Correo</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Contraseña</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="************">
          </div>

        <a type="button" class="btn btn-outline-success w-100" routerLink="/menu-vista" routerLinkActive="active" >Entrar al sistema</a>
        <p class="muted mt-5 text-body-secondary">Acceso restringido. Solo personal autorizado.</p>

      </div>
    </div>
  </div>
</div>