<div class="container-fluid vh-100">
  <div class="row h-100">
    <div class="col-lg-6 d-none d-lg-block p-0">
      <img src="fondo-login.webp" class="mw-100 h-100 object-fit-cover" alt="imagen de biblioteca">
    </div>

    <div class="col-lg-6 col-12 col-md-12 d-flex justify-content-center align-items-center p-0">
      <div class="w-50">
        <p class="fw-bold"> <button class="btn btn-success"><i class="bi bi-book"></i></button>  Biblioteca Pública</p>
        <p class="font-monospace">Acceso bibliotecario</p>
        <p class="fs-1 fw-bold lead">Iniciar sesión</p>
          <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
              <div class="mb-3">
                <label for="correo" class="form-label">Correo</label>
                <input type="email" class="form-control" id="correo" placeholder="name@example.com" autocomplete="email" formControlName="Correo">
                <span class="errors">
                    @if(this.formLogin.get('Correo')?.dirty || this.formLogin.get('Correo')?.touched){
                      @if(this.formLogin.get('Correo')?.errors?.['required']){
                        Porfavor, Digite un Correo
                      }
                    } 
                </span>
              </div>

            <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="password" autocomplete="current-password" placeholder="************" formControlName="Password">
            </div>

            <button type="submit" class="btn btn-outline-success w-100 mb-3" >Entrar al sistema</button>
          </form>
        <span class="text-danger">{{error}}</span>
        <p class="muted mt-3 text-body-secondary">Acceso restringido. Solo personal autorizado.</p>

      </div>
    </div>
  </div>
</div>
